<h1><%= @project.name %></h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.description %></li>
    <% end %>
</ul>
<%= form_for [@project, @task] do |f| %>
  <%= f.label :task %>
  <%= f.text_field :description, size: "50x1" %>

  <%= f.submit "Add Task" %>
<% end %>
<br>
<%= form_tag :members do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>

  <%= hidden_field_tag :project_id, @project.id %>

  <%= submit_tag "Add Member" %>
<% end %>
<ul>
  <% @members.each do |member| %>
    <li><%= member.username %></li>
    <% end %>
</ul>
