<!DOCTYPE html>
<html>
  <head>
    <title>Collaborate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= javascript_include_tag "bootstrap" %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-info">
        <%= value %>
      </div>
    <% end %>
    <% if current_user != nil%>
      <%= render "layouts/main" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
